@import 'utils';

$size: 100px;

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid #200200;
  @include place-center();

  .box-inside {
    width: $size;
    height: $size;
    background-color: coral;
  }
}

.box-color {
  background-color: aqua;
}